@import "ui-variables";

.tree-view {
	background: @tree-view-background-color;

	.selected:before {
		background: @background-color-selected;
	}

	.selected > .name,
	.selected > .name:before,
	.selected > .list-item > .name,
	.selected > .list-item > .name:before {
		color: #fff !important;
	}
}
[data-adwaita-pro-ui-icon-theme='no-icons'] {
	.tree-view {
		.icon:before { display: none;}
	}
}
